<nav>
    <a i18n="dashboard|Startpage with dashboard-like info">Dashboard</a>
    <a i18n="accounts|Accounts description">Accounts</a>
    <a i18n="roles|Roles description">Roles</a>
    <span class="spacer"></span>
    <a i18n="albums|Albums description">Albums</a>
    <a i18n="blogs|Blogs description">Blogs</a>
    <a i18n="events|Events description">Events</a>
    <span class="spacer"></span>
</nav>
<section id="page">
    <router-outlet></router-outlet>
</section>